# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=

# JWT
# JWT secret key
JWT_SECRET=SECRET
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=3000000
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=300
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# SEQUELIZE CONFIG
DB_DIALECT=mysql
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# API GACHTHE
API_GACHTHE=
PARTNER_KEY=
PARTNER_ID='64910915514'
RATE= 80


